<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trading View</title>
  <link rel="stylesheet" href=/css/crypto.css>
</head>

<body>

  <div class="main">
    <nav>
      <div class="logo">
        <img src="https://hodlinfo.com/static/media/HODLINFO.8f78fc06.png" alt="">
      </div>

      <div class="coins">
        <!-- Dropdown menu for selecting cryptocurrencies -->
        <select id="crypto-dropdown" class="primary-btn">
          <% cryptocurrencies.forEach(function(crypto) { %>
            <option value="<%= crypto.name %>">
              <%= crypto.name %>
            </option>
            <% }); %>
        </select>
        <button class="primary-btn"> Buy Now</button>
      </div>

      <div class="social-links">
        <a href="#">timer</a>
        <a href="#" class="telegram-btn">Connect Telegram</a>
        <a href="#">Day</a>

      </div>
    </nav>

    <section class="price-details">
      <p> Best Price to Trade</p>
      <div class="price">
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
        <div class="best-price">
          <p>24,49,618</p>
          <p>------------</p>
        </div>
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
      </div>
      <p> Avarage Price in INR</p>
    </section>

    <section id="plateforms">
      <div class="heading">
        <p>#</p>
        <p>Platform </p>
        <p> Last Traded Price</p>
        <p> Buy / Sell Price</p>
        <p> Difference</p>
        <p> Savings</p>
      </div>
      <div class="data heading">
        <p>1</p>
        <p>WazirS</p>
        <p>23,22,286</p>
        <p>23,22,286 / 23,30,651</p>
        <p>-5.20%</p>
        <p>-5.20%</p>
      </div>
      <div class="data heading">
        <p>2</p>
        <p>WazirS</p>
        <p>23,22,286</p>
        <p>23,22,286 / 23,30,651</p>
        <p>-5.20%</p>
        <p>-5.20%</p>
      </div>
    </section>

    <footer>
      <p> Copyright 2019 Hodlinfo.com</p>
      <p> Support</p>
    </footer>
  </div>



  <!-- Container for displaying cryptocurrency details -->
  <div id="crypto-details-container">
    <!-- Content will be updated based on user selection -->
  </div>
  <script>
    const cryptocurrenciesData = JSON.parse('<%- JSON.stringify(cryptocurrencies) %>');
  </script>
  <!-- Include JavaScript code for handling user interaction -->
  <!-- <script src="/js/crypto.js"></script> -->

</body>

</html>


<!-- views/crypto.ejs -->