<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trading View</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(12, 12, 12);
      color: white;

    }

    .main {
      width: 100%;
      background-color: rgb(21, 19, 19);
    }

    /* Navigation Style */
    .main nav {
      column-count: 3;
      margin: 3%;
      width: 90%;
    }

    .logo img {
      width: 50%;
      height: auto;
    }
    #crypto-dropdown{
      margin-left: 13 0px;
    }
    .social-links{
      margin-left: 200px;
    }
    .social-links a {
      margin-left: 10px;
    }

    .telegram-btn {
      text-decoration: none;
      background-color: rgb(17, 218, 151);
      padding: 5px;
      border-radius: 8px;
    }

    .primary-btn {
      outline: none;
      border: none;
      background-color: rgba(44, 37, 37, 0.784);
      font-size: medium;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    #crypto-dropdown option {
      background-color: white;
      color: black;
    }

    /* nagigation style done */

    /* Price Details Container */
    .price-details {
      /* color: gray; */
      text-align: center;
      text-transform: capitalize;
    }

    .price-details p {
      color: gray;
    }

    .price {
      column-count: 5;
      margin-top: 10px;
    }

    .return p:nth-child(1) {
      color: rgb(17, 218, 151);
    }

    .return p:nth-child(2) {
      margin-top: 2px;
      color: gray;
    }

    .best-price p:nth-child(1) {
      font-size: 25px;
    }

    /* Price details section added */
    /* Plateform details */
    #plateforms {
      margin-top: 10px;
    }

    .heading {
      margin-top: 5px;
      text-align: center;
      column-count: 6;
    }
  </style>
</head>

<body>

  <div class="main">
    <nav>
      <div class="logo">
        <img src="https://hodlinfo.com/static/media/HODLINFO.8f78fc06.png" alt="">
      </div>

      <div class="coins">
        <!-- Dropdown menu for selecting cryptocurrencies -->
        <select id="crypto-dropdown" class="primary-btn">
          <% cryptocurrencies.forEach(function(crypto) { %>
            <option value="<%= crypto.name %>">
              <%= crypto.name %>
            </option>
            <% }); %>
        </select>
        <button class="primary-btn"> Buy Now</button>
      </div>

      <div class="social-links">
        <a href="#">timer</a>
        <a href="#" class="telegram-btn">Connect Telegram</a>
        <a href="#">Day</a>

      </div>
    </nav>

    <section class="price-details">
      <p> Best Price to Trade</p>
      <div class="price">
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
        <div class="best-price">
          <p>24,49,618</p>
          <p>------------</p>
        </div>
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
        <div class="5-mins return">
          <p>0.66%</p>
          <p>5 Mins</p>
        </div>
      </div>
      <p> Avarage Price in INR</p>
    </section>

    <section id="plateforms">
      <div class="heading">
        <p>#</p>
        <p>Platform </p>
        <p> Last Traded Price</p>
        <p> Buy / Sell Price</p>
        <p> Difference</p>
        <p> Savings</p>
      </div>
      <div class="data heading">
        <p>1</p>
        <p>WazirS</p>
        <p>23,22,286</p>
        <p>23,22,286 / 23,30,651</p>
        <p>-5.20%</p>
        <p>-5.20%</p>
      </div>
      <div class="data heading">
        <p>2</p>
        <p>WazirS</p>
        <p>23,22,286</p>
        <p>23,22,286 / 23,30,651</p>
        <p>-5.20%</p>
        <p>-5.20%</p>
      </div>
    </section>

    <footer>
      <p> Copyright 2019 Hodlinfo.com</p>
      <p> Support</p>
    </footer>
  </div>

  <section>
    <table>
      <thead>
        <td>#</td>
        <td>Platform</td>
        <td>Last traded Price</td>
        <td>buy and sell price</td>
        <td>Difference </td>
        <td>saving </td>
      </thead>
      <tbody id="crypto-table-body">
        <!-- Cryptocurrency data rows will be added here dynamically -->
      </tbody>
    </table>
  </section>


  <!-- Container for displaying cryptocurrency details -->
  <div id="crypto-details-container">
    <!-- Content will be updated based on user selection -->
  </div>
  <script>
    const cryptocurrenciesData = JSON.parse('<%- JSON.stringify(cryptocurrencies) %>');
  </script>
  <!-- Include JavaScript code for handling user interaction -->
  <script src="/js/crypto.js"></script>

</body>

</html>


<!-- views/crypto.ejs -->